<h2 class="headerbottm">Credentials Vault</h2>
<form method="post" action="/test/updateENV">

 <div class="form-group">
   <div class="form-group">
     <label>Witness Username</label>
     <input type="text" class="form-control" placeholder="Username of Witness" name="witnessUsername">
   </div>
  <label>Notification Email</label>
  <input type="email" class="form-control" placeholder="Email to Receive Alert Notifications at." name="receiving_email">
 </div>
 <div class="form-group">
   <label>Account Active Key</label>
   <input type="text" class="form-control" placeholder="Active Key of Witness Account" name="account_ActiveKey">
 </div>
 <div class="form-group">
   <label>Confirm Account Active Key</label>
   <input type="text" class="form-control" placeholder="Confirm Active Key of Witness Account" name="account_ActiveKey1">
 </div>
  <div class="form-group">
    <label>Node A Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Public Brain Key of Node A" name="NodeA_BrainKey">
  </div>
  <div class="form-group">
    <label>Confirm Node A Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Confirm Public Brain Key of Node A" name="NodeA_BrainKey1">
  </div>
  <div class="form-group">
    <label>Node B Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Public Brain Key of Node B" name="NodeB_BrainKey">
  </div>
  <div class="form-group">
    <label>Confirm Node B Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Confirm Public Brain Key of Node A" name="NodeB_BrainKey2">
  </div>
  <div class="form-group">
    <label>Check Rate</label>
    <input type="text" class="form-control" placeholder="How often to check witness, in MS." name="checkRate">
  </div>
  <div class="form-group">
    <label>Threshold</label>
    <input type="text" class="form-control" placeholder="Threshold (Minimum Allowed Missed Blocks)" name="threshold">
  </div>
  <div class="form-group">
    <label>Account Creation Fee</label>
    <input type="text" class="form-control" placeholder="Account Creation Fee" name="accountCreationFee">
  </div>
  <div class="form-group">
   <label>Maximum Block Size</label>
   <input type="text" class="form-control" placeholder="Maximum Block Size" name="MaximumBlockSize">
 </div>
  <div class="form-group">
    <label>Witness Link</label>
    <input type="text" class="form-control" placeholder="Link to post on Witness Update" name="WitnessLink">
  </div>
  <div class="form-group">
   <label>Notification Sending Gmail</label>
   <input type="email" class="form-control" placeholder="Email to send/receive alerts from." name="NotificationGmail_Email">
 </div>
 <div class="form-group">
  <label>Notification Sending Gmail Password</label>
  <input type="text" class="form-control" placeholder="Password of Email to send/receive alerts from." name="NotificationGmail_Password">
</div>
<div class="form-group">
 <label>Node Url (Leave empty for WLS)</label>
 <input type="text" class="form-control" placeholder="Node URL of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_URL">
</div>
<div class="form-group">
 <label>Node Address Prefix</label>
 <input type="text" class="form-control" placeholder="Node Address of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_address_prefix">
</div>
<div class="form-group">
 <label>Node Chain ID</label>
 <input type="text" class="form-control" placeholder="ID of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_chain_id">
</div>
  <button type="Update .env File!" class="btn btn-default">Submit</button>
</form>
